.app-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: $color-gray-200;

  @if $dark-mode {
    background-color: $color-gray-050;
    border-top: 1px solid $color-gray-100;
  }

  .app-footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > li {
      display: inline-block;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;

      &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 8px;
        margin: 0 0.25rem;
        border-right: 1px solid $color-gray-400;

        @if $dark-mode {
          border-right: 1px solid $color-gray-200;
        }
      }

      &:last-child::after {
        content: none;
      }

      & > a {
        color: $color-gray-600;
        font-size: 0.75rem;
        text-decoration: none;
      }
    }
  }

  .app-footer-copyright {
    color: $color-gray-500;
    font-size: 0.75rem;
  }
}